@import url('../css/styles.css');

.selectedFilters__filter {
    background-color: #E9E5DC;
    margin-left: 10px;
    padding: 5px 10px;
    display: inline-block
}

.model{
    width: 100%;
}
.artbutton{
	padding: 0 22% 0 22%;
}
.zyzzcontainer img{
    padding-top: 100px;
    margin: 0px 7% -100px 0;
    width: 300px;
    z-index: -100;
}