@import url('./styles.css');

#arrowBackToFrames {
    margin-top: 30px;
}

.displayed-art {
    display: flex;
    flex-direction: column;
}

.displayed-art :last-child {
    align-self: center;
}

#displayed-art-img {
    width: 85%;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 7.5%;
}

#kader {
    width: 86%;
    margin-top: 20px;
    position: absolute;
}

.displayed-art-kader {
    position: absolute;
    width: 90%;
    left: -3px;

}

.rented-art {
    margin-top: 50px;
}