@import url('../css/styles.css');

.room {
    margin-bottom: 20px;
}

.room__title {
    display: flex;
    justify-content: space-between;
}




.room__frames {
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
}


.room__frames--selected {
    max-height: 400px;
    transition: max-height 0.25s ease-in;
}
.plus {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    cursor: pointer;
    transition: 0.2s;

}


.plus--active {
    transform: rotate(45deg) !important;
    transition: 0.2s;
}



.rooms {
    margin-top: 30px;
}



.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    margin: 15px 15px;
    width: 40%;
    background-color: white;
    filter: drop-shadow(0 0.15rem 0.12rem rgb(176, 176, 176));
}

.frame p {
    margin-bottom: 10px;
    font-size: 20px;
}

.frame i {
    font-size: 60px;
    transform: translateY(5px);
}

.settings {
    position: relative;
    font-size: 25px !important;
    top: -15px;
    left: -50%;
}


/* ADD NEW FRAME DIV */
.endframeAdd {
    background-color: #f3f0ec;
}

.addRoom-wrapper {
    background-color: #f3f0ec;
    position: fixed;
    width: 86%;
    top: 100%;
    height: 100%;
    transition: 0.2s;
    z-index: 10;
}

.addRoom-wrapper--active {
    top: 160px;
    transition: 0.2s;
}

.choice {
    background-color: #E9E5DC;
    padding-top: 1px;
}

.choice select {
    font-size: 20px;
    width: 100%;
    padding: 10px;
    padding-right: 20px;
    background-color: transparent;
    border: none;
}

.choice select :checked {
    border: none;
}

.choice option {
    font-size: 20px;
    font-family: 'Maison';
}

option:checked {
    background-color: #58ba83;
}

/* .choice select:hover {
    background-color: #CBD5FF;
} */

.choice option {
    background-color: #E9E5DC;
    border-radius: 0;
}

.choice option:hover {
    background-color: black;
}

.choice__existingRooms {
    height: 200px;
    overflow: scroll;
}


.choice__existingRooms__room {
    cursor: pointer;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

.choice__existingRooms__room {
    padding: 14px;
}

.choice__exstingRooms__room:hover {
    background-color: aqua;
}

.choice__existingRooms input[type="radio"] {
    visibility: hidden;
    height: 0;
    width: 0;
}

.choice__existingRooms__room--selected {
    background-color: #CBD5FF !important;
}

.addNewRoom {
    cursor: pointer;
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: #E9E5DC;
    filter: drop-shadow(0 -0.05rem 0.2rem rgb(176, 176, 176));
}



.addNewRoom p {
    margin-left: 5px;
}

input[type="radio"]:checked+label {
    background-color: #58ba83;
}

#addNewRoom-wrapper {
    display: none;
}

#addNewRoom_input {
    display: flex;
    justify-content: space-between;
    background-color: #f3f0ec;
    width: 100%;
    z-index: -1;
    top: -90px;
    background-color: #E9E5DC;

}

.addNewRoom_input {
    padding: 14px;
}

.addNewRoom_input input {
    width: 50%;
    margin-right: 10px;
}

.addNewRoom_input--on {
    transition: 0.2s !important;
    top: 1px !important;
    filter: drop-shadow(0 0.3rem 0.2rem rgb(176, 176, 176)) !important;
}

.endframeAdd {
    display: flex;
    justify-content: center;
}

.endframeAdd-button {
    position: absolute;
    margin-top: 100px;
    margin-left: auto;
}

/* #overlay {
    position: absolute;
    display: none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 1;
} */