@import url('../css/styles.css');

.filter {
    margin: 0 5% 0 5%;
}

.filter__section__title {
    display: flex;
    justify-content: space-between;

}

#seletedFilters__filter p {
    margin-right: 10px;
}




.bx-arrow-back {
    cursor: pointer;
    font-size: 25px;
    margin-top: 5%;
}

.bx-chevron-left {
    font-size: 25px;
    cursor: pointer;
    transform: rotate(90deg);
    transition: 0.2s;
}


#filterButton {
    padding: 10px 20px;
    border: 2px solid #00bd83;
    background-color: transparent;
    color: #00bd83;
}

#filterButton :hover {
    background-color: #00bd83 !important;
    color: black !important;
}

.filterSlideDiv {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    right: -100%;
    background-color: #f3f0ec;
    height: 100%;
    overflow: auto;
    transition: 0.2s;
}

.filter__section {
    margin-top: 40px;

}

.filter__section__filters {
    display: none;
}

.filter__section__filters--selected {
    display: flex;
    flex-wrap: wrap;
}

.filter__section__filters p {
    display: flex;
    padding: 5px 10px;
    background-color: #E9E5DC;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.filter__section__filters--active {
    background-color: #CBD5FF !important;
}

.filters__endButton {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 50px;
    margin-right: 15px;
}

.column canvas {
    width: 100%;
}

.column video {
    width: 100%;
}