@import url('../css/styles.css');

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 4px;
    width: 100%;
}

/* Create four equal columns that sits next to each other */
.column {
    max-width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}


.filter {
    margin: 0 5% 0 5%;
}

.filter__section__title {
    display: flex;
    justify-content: space-between;

}

#seletedFilters__filter p {
    margin-right: 10px;
}




.bx-arrow-back {
    cursor: pointer;
    font-size: 25px;
}

.bx-chevron-left {
    font-size: 25px;
    cursor: pointer;
    transform: rotate(90deg);
    transition: 0.2s;
}

.bx-chevron-left--on {
    transform: rotate(-180deg);
    transition: 0.2s;
}

#selectedFilters {
    display: flex;
    flex-wrap: wrap;
}

.selectedFilters__filter {
    display: flex;
    align-items: center;
    background-color: #E9E5DC;
    margin-left: 10px;
    padding: 5px 10px;
}

.selectedFilters__button {
    display: inline;
    font-size: 14px;
    background-color: #E9E5DC;
}

.selectedFilter__filter__cross {
    cursor: pointer;
}

#filterButton {
    padding: 10px 20px;
    border: 2px solid #00bd83;
    background-color: transparent;
    color: #00bd83;
}

#filterButton :hover {
    background-color: #00bd83 !important;
    color: black !important;
}

.filterSlideDiv {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    right: -100%;
    background-color: #f3f0ec;
    height: 100%;
    overflow: auto;
    transition: 0.2s;
}

.filter__section {
    margin-top: 40px;
}

.filter__section__filters {
    display: none;
}

.filter__section__filters--selected {
    display: flex;
    flex-wrap: wrap;
}

.filter__section__filters p {
    display: flex;
    padding: 5px 10px;
    background-color: #E9E5DC;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.filter__section__filters--active,
.filter__section__filters p:hover {
    background-color: #CBD5FF !important;
}

.filters__endButton {
    margin: auto;
}