@import url('../css/styles.css');

body {
    background-color: #080809;
}

.button{
	margin: 0;		
}
.wrapper {
    color: white;
}
h6{
	background-color: #CBD5FF;
	color: black;
	font-weight: 500;
	margin-top: -1px;
	height: 85px;
}

.user_info {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artbutton{
	margin-top: 10px;
}
.liked-and-rented-wrapper {
    margin-top: 30px;
}

.ri-heart-fill {
    font-size: 30px;
}

.user_info p {
    margin-top: 15px;
}

.profile_img {
    width: 50%;
}

.profile_img img {
    width: 100%;
}

#likebutton {
    width: 37%;
    height: 60PX;
    margin-right: 10PX;
  }
.profile-buttons :nth-child(2) {
    background-color: transparent;
    border: 2px solid #00bd83;
    color: #00bd83;
}

.profile-buttons button:hover {
    background-color: #00bd83;
    color: #080809;
    opacity: 1;
}


.column img,
video {
    margin-top: 8px !important;
    vertical-align: middle;
    width: 100%;
}