@import url('../css/styles.css');

body {
    background-color: #080809;
}

.wrapper {
    color: white;
}

.user_info {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liked-and-rented-wrapper {
    margin-top: 30px;
}

.ri-heart-fill {
    font-size: 30px;
}


.profile_img {
    width: 50%;
}

.profile_img img {
    width: 100%;
}

.profile-buttons :nth-child(2) {
    background-color: transparent;
    border: 2px solid #00bd83;
    color: #00bd83;
}

.profile-buttons button:hover {
    background-color: #00bd83;
    color: #080809;
    opacity: 1;
}