@import url('./styles.css');

body {
    background-color: black;
}

.wrapper {
    color: white;
}

.button{
	font-size: 22px;
	width: auto;
	padding: 10px;
}
h6{
	margin-bottom: 90px;
	background-color: #CBD5FF;
	color: black;
	margin-top: -1px;
	width: auto;
	margin-right: 15%;
	height: auto;
	padding: 15px 15px 15px 7%;
	
}
.torentArt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.torentArt__img {
    width: 80%;
    margin-bottom: 10px;
}

.availability {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.availability p {
    display: inline-block;
}

.availability--green {
    color: #00bd83;
}

.nextbuttondiv {
    display: flex;
    justify-content: center;
}