@import url('../css/styles.css');

body {
    background-color: black;
}

.wrapper {
    color: white !important;
}

a {
    font-family: 'Maison';
}
h6{
	margin-bottom: 20px;
	background-color: #CBD5FF;
	color: black;
	margin-top: -1px;
	width: auto;
	margin-right: 15%;
	height: auto;
	padding: 15px 15px 15px 7%;
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.steps button,
span {
    opacity: 0.5;
}

#shoppingCart {
    color: white;
    font-size: 30px;
    position: absolute;
    right: 7%;
    top: 55px;
}

.steps button {
    background-color: transparent;
    color: #00bd83;
    width: 30%;
    padding: 10px 10px;
    border: 1.5px solid #00bd83;
}

.steps span {
    height: 1.5px;
    width: 5%;
    background-color: #00bd83;
}

.selected-step {
    opacity: 1 !important;
}


.nextbuttondiv {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.unselected {
    background-color: transparent;
    color: #00bd83;
    border: 1.5px solid #00bd83;
    margin-right: 15px;

}

.button{
	font-size: 22px;
	padding: 10px 15px 10px 15px;
	margin: 0 10px 15px 10px;
	width: auto;
}
/***************** STEP ONE: FRAME ****************/

.frame_options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;

}

.frame-options-classic,
.frame-options-modern {
    width: 60%;
    margin-left: 20px;
}

.frame_options img {
    width: 100%;
    border: 2px solid transparent;
}

.frame_options img:hover {
    border: 2px solid #00bd83;
}

.frame_options p {
    font-family: 'Clearface';
    font-size: 24px;
    /*     position: relative;
    left: -20px;
    bottom: 20px; */
    margin-top: -20px;
    margin-left: -20px;
}

/***************** STEP TWO: SIZE ****************/

.sizeswrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.sizeswrapper div {
    margin-bottom: 10px;
}

.sizeswrapper img {
    border: 2px solid transparent;
}


.sizeswrapper img:hover {
    border: 2px solid #00bd83;
}

/***************** STEP THREE: COLOR ****************/

.selectedcolorframe {
    display: flex;
    justify-content: center;
}

.selectedcolorframe img {
    width: 100%;
}

.coloroptions {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.coloroptions img {
    margin-left: 20px;
}

.selectedcolor {
    border: 1.5px solid #00bd83;
}


.fullscreen{
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	z-index: 10000;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}
.open{
	display: flex !important;
	justify-content: center;
	align-items: center;
}

.popup{
	height: 120px;
	width: 325px;
	background-color: #00BD83;
}
.popup h5{
	color: black;
	font-family: 'Clearface';
	font-weight: 400;
	display: flex;
	padding: 3% 0 0 0;
	justify-content: center;
	align-items: center;
	font-size: 27px;
}
.popupwrapperbutton{
	width: auto;
	display: flex;
	justify-content: space-between;
	padding: 3% 10% 5% 10%;
}
.popupwrapperbutton button{
	background-color: #00BD83;
    border: none;
	font-size: 25px;
    cursor: pointer;
	padding: 10px 15px 10px 15px;
}
.popupbutton{
	border-style: solid !important;
	margin: 0 0px 0 0px;
	border-color: black !important;
	border-width: 0.1px !important; 
}
#checkoutBtn{
	background-color: black;
	color: #00BD83;
}
canvas{
	z-index: -1;
}
/********************** SHOPPING CART **************************/


.cartItems__item {
    display: flex;
    align-items: center;
}

.cartItems__item__img {
    width: 70%;
}

.rentbuttondiv {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

/* the fucking monkey who did position:fixed on rentbuttondiv can neck it */

/* .ri-shopping-cart-line ::before {
    content: 'sdfjsj';
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #00bd83;

} */

.ri-shopping-cart-line div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -10px;
    right: -10px;
}

.ri-shopping-cart-line div {
    font-size: 18px;
    width: 25px;
    height: 25px;
    background-color: #00bd83;
    border-radius: 100%;
}