@import url('../css/styles.css');

body {
    background-color: black;
}

.wrapper {
    color: white;
}

a {
    font-family: 'Maison';
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;


}

.steps button,
span {
    opacity: 0.5;
}

#shoppingCart {
    color: white;
    font-size: 30px;
    position: absolute;
    right: 7%;
    top: 55px;
}

.steps button {
    background-color: transparent;
    color: #00bd83;
    width: 30%;
    padding: 10px 10px;
    border: 1.5px solid #00bd83;
}

.steps span {
    height: 1.5px;
    width: 5%;
    background-color: #00bd83;
}

.selected-step {
    opacity: 1 !important;
}


.nextbuttondiv {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}

.unselected {
    background-color: transparent;
    color: #00bd83;
    border: 1.5px solid #00bd83;
    margin-right: 15px;
}

/***************** STEP ONE: FRAME ****************/

.frame_options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 70px;

}

.frame-options-classic,
.frame-options-modern {
    width: 60%;
    margin-left: 20px;
}

.frame_options img {
    width: 100%;
    border: 2px solid transparent;
}

.frame_options img:hover {
    border: 2px solid #00bd83;
}

.frame_options p {
    font-family: 'Clearface';
    font-size: 24px;
    /*     position: relative;
    left: -20px;
    bottom: 20px; */
    margin-top: -20px;
    margin-left: -20px;
}

/***************** STEP TWO: SIZE ****************/

.sizeswrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.sizeswrapper div {
    margin-bottom: 10px;
}

.sizeswrapper img {
    border: 2px solid transparent;
}


.sizeswrapper img:hover {
    border: 2px solid #00bd83;
}

/***************** STEP THREE: COLOR ****************/

.selectedcolorframe {
    display: flex;
    justify-content: center;
}

.selectedcolorframe img {
    width: 100%;
}

.coloroptions {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.coloroptions img {
    margin-left: 20px;
}

.selectedcolor {
    border: 1.5px solid #00bd83;
}