  /* TITLE FONT */
  @font-face {
    font-family: 'Clearface';
    src: url('/fonts/Clearface.ttf');
    src: local('Clearface'),
      url('/fonts/Clearface.ttf'),
      format('truetype');
  }

  /* TEXT FONT */
  @font-face {
    font-family: 'Maison';
    src: url('/fonts/Maison-Neue-Book.ttf');
    src: local('Maison'),
      url('/fonts/Maison-Neue-Book.ttf'),
      format('truetype');
  }

  /****************************************************************************/

  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
  }


  body {
    min-height: 100vh;
    background: #f3f0ec;
    color: #000000;
  }

  .wrapper {
    margin: 0 7% 0 7%;
  }

  header {
    position: fixed;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 10000;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .5s ease;
  }

  h1 {
    font-size: 30px;
    font-family: 'Clearface';
    font-weight: 100;
    padding: 5px 15px 10px 7%;
    width: 50%;
    margin-top: 50px;
    background-color: #CBD5FF;
  }

  h2 {
    font-size: 25px;
    font-family: 'Clearface';
    font-weight: 100;
    padding: 10px 15px 10px 7%;
    width: 53%;
    margin-top: 50px;
    background-color: #CBD5FF;
  }

  h3,
  p,
  a,
  input,
  button,
  label,
  select,
  option {
    font-family: 'Maison';
  }

  h6 {
    font-size: 15px;
    font-family: 'Maison';
    color: white;
    font-weight: 100;
    margin-bottom: 30px;
    background-color: black;
    margin-top: -1px;
    width: auto;
    margin-right: 15%;
    height: auto;
    padding: 15px 15px 15px 7%;
  }

  button {
    font-family: 'Maison';
  }

  .button {
    padding: 10px 15px 10px 10px;
    font-size: 22px;
    width: 100px;
    text-decoration: none;
    background-color: #00bd83;
    color: black;
    border: none;
  }

  h4 {
    font-family: 'Clearface';
    font-weight: 500;
  }

  .navbar {
    display: flex;
  }

  .navbar a {
    color: #ffffff;
    font-size: 30px;
    margin: 0px 30px;
    padding: 5px 0px;
    transition: all 0.5s ease;
  }

  .navbar a:hover {
    color: #00bd83;
  }

  /*  WHEN ON A CERTAIN PAGE, that gets green color in nav */

  .nav-selected {
    color: #00bd83;
  }

  .main {
    display: flex;
    align-items: center;
  }

  .main a {
    margin-right: 25px;
    margin-left: 10px;
    color: #000000;
    font-size: 30px;
    transition: all 0.5s ease;
  }

  #menu-icon {
    font-size: 40px;
    color: #000000;
    cursor: pointer;
    z-index: 10001;
    background-color: #00bd83;
    padding: 5px;
    display: none;
  }



  /* //filters */



  #selectedFilters {
    display: flex;
    flex-wrap: wrap;
  }

  .selectedFilters__filter {
    display: flex;
    background-color: #E9E5DC;
    padding: 5px 10px;
    margin-right: 10px;
    margin-top: 10px;
    align-items: center;
  }

  .selectedFilters__button {
    display: inline;
    font-size: 14px;
    background-color: #E9E5DC;
  }

  .selectedFilter__filter__cross {
    cursor: pointer;
    margin-left: 15px;
  }

  .bx-chevron-left {
    font-size: 25px;
    cursor: pointer;
    transform: rotate(90deg);
    transition: 0.2s;
  }

  .bx-chevron-left--on {
    transform: rotate(-180deg);
    transition: 0.2s;
  }

  .bxs-toggle-left,
  .bxs-toggle-right {
    cursor: pointer;
  }

  .bxs-toggle-right {
    color: #00bd83 !important;

  }

  /***************************GALLERY*****************/
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    max-width: 50%;
    padding: 0 4px;
  }

  .column img,
  video {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }


  /**********************************LOGIN FORM**********************************************/
  .formlogin {
    font-family: 'Maison', sans-serif;
  }

  input[type=text],
  input[type=password] {
    width: 100%;
    font-size: 15px;
    opacity: 80%;
    padding: 7px 0px;
    margin: 22px 0;
    display: inline-block;
    box-sizing: border-box;
  }

  input:focus {
    outline: none;
    border-bottom: 1.5px solid #00bd83;
  }

  .fieldfont {
    width: 100%;
    border: 0;
    border-bottom: 1.5px solid;
    outline: 0;
    background: transparent;
  }

  .textfieldform {
    position: relative;
    margin-top: 10px;
    width: 100%;
  }

  /*  .button {
    background-color: #00bd83;
    color: #080809;
    padding: 15px;
    margin: 25px 0 10px 0;
    border: none;
    font-size: 19px;
    cursor: pointer;
  } */

  .buttonform {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button:hover {
    opacity: 0.8;
  }

  .imgcontainer {
    text-align: center;
    background-color: #080809;
    padding-top: 40px;
    margin: 0px 0 0 0;
  }

  .zyzzcontainer {
    display: flex;
    z-index: 1000;
    justify-content: right;
  }

  .artimg {
    padding-top: 100px;
    margin: 0px 7% -100px 0;
    width: 300px;
    z-index: -100;
  }

  img.avatar {
    width: 90%;
    background-color: #080809;
  }

  .bottomform {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f0ec !important;
  }

  span.psw {
    background: #f3f0ec;
    float: left;
    padding-top: 16px;
    margin-bottom: 15px;
  }

  .fdpforgot {
    color: #00bd83;
  }

  /**********************************LOGIN FORM**********************************************/


  /**********************************ARTWORKPAGE**********************************************/
  .artworkpage {
    background-color: #080809;
  }

  #artname {
    width: 70%;
  }

  .artistbuttonwrapper {
    padding-left: 0px;
    margin-top: 40px;
  }

  .artistbutton {
    padding: 10px;
    width: 30%;
    font-size: 15px;
    margin-left: 7%;
  }

  .arttext {
    font-family: 'Maison';
    color: #ffffff;
  }

  .artbutton {
    display: flex;
    justify-content: space-between;
    padding: 0 25% 0 25%;
    margin-top: 40PX;
  }


  #rentbutton {

    font-size: 22PX;
  }

  .artrow {
    display: flex;
    flex-wrap: wrap;
  }

  .artcolumn {
    flex: 50%;
    max-width: 50%;
    padding: 0 5px;
  }

  .artcolumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    .artcolumn {
      flex: 50%;
      max-width: 100%;
    }
  }

  /**********************************ARTWORKPAGE**********************************************/

  /**********************************ARTIST PAGE**********************************************/
  .artistpage {
    background-color: #00bd83;
  }

  #artistimg {
    height: 350PX;
    width: 230px;
    margin-top: -25px;
    object-fit: cover;
    padding: 0;
  }

  #artistname {
    width: 70%;

  }

  .artisttextwrapper {
    margin-top: 130px;
  }

  .artisttext {
    font-family: 'Maison';
    font-size: 18px;
    color: #080809;
  }

  #artistwork {
    color: #080809;
    margin-top: 50px;

  }

  .artistsocials p {
    font-family: 'Clearface';
  }

  .artistsocials {
    margin-top: 30px;
    width: 100%;
    overflow: auto;
  }

  .socialicons a {
    float: left;
    margin-top: 10px;
    width: 15%;
    margin-right: 10px;
    text-align: center;
    padding: 8px 0px 0px;
    transition: all 0.3s ease;
    color: #080809;
    background-color: #CBD5FF;
    font-size: 30px;
    text-decoration: none;
  }
  #heart{
	font-size: 30px;
  }

  /**********************************ARTIST PAGE**********************************************/

  @media(max-width: 1280px) {
    header {
      padding: 0px 0%;
      transition: 0.2s;
    }

    .navbar a {
      padding: 5px 0;
      margin: 0px 20px;
    }
  }

  @media(max-width: 1090px) {
    #menu-icon {
      display: block;

    }

    .navbar {
      position: absolute;
      top: -1000%;
      width: 50px;
      left: 0%;
      background-color: #080809;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      transition: all 0.5s ease;
      padding-top: 50px;


    }

    .navbar a {
      display: block;
      margin: 15px 0px;
      padding: 0px 10px;
      transition: all 0.1s;
    }

    .navbar a:hover {
      color: #00bd83;
    }

    .navbar.open {
      top: 0%;
    }
  }

  .swiper {
    width: 100%;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 100%;
    height: 120px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper>.swiper-wrapper {
    transition-timing-function: linear;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }